grant {
	permission java.net.SocketPermission "127.0.0.1:5466", "connect";
	permission java.net.SocketPermission "127.0.0.1:1024-", "accept";
};

grant {
  permission java.security.AllPermission;
};
